@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'poppins', sans-serif;
}

/* @layer utilities{
    .anime-box{
        @apply content-[''] absolute 
        bg-[conic-gradient(#04b0ee-20deg,transparent-120deg)] w-[300px] h-[300px]
    }
} */

.blur-backdrop-filter {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

}


.box-1 {
    background: radial-gradient(108.75% 109.97% at 10% -6.74%, #6335c5 0%, #0f172a 100%), #1e293b;
    transition: .2s ease-in-out;
}
.box-1:hover{
    background: #6335c5;
    
}

.box-2 {
    background: radial-gradient(108.75% 109.97% at 10% -6.74%, #0d88bf 0%, #0f172a 100%), #1e293b;
    transition: .2s ease-in-out;
}
.box-2:hover{
    background: #0d88bf;
}

.box-3 {
    background: radial-gradient(108.75% 109.97% at 10% -6.74%, #394cf3 0%, #0f172a 100%), #1e293b;
    transition: .2s ease-in-out;
}
.box-3:hover{
    background: #394cf3;
}

.btn-1{
    background: radial-gradient(108.75% 109.97% at 10% -6.74%, #394cf3 65%, #0f172a 100%), #1e293b;
        transition: .2s ease-in-out;
        color: white;
}

.custom-shape-divider-top-1725454015 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    border: white;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1725454015 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1725454015 .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-bottom-1725455523 {
    position: absolute;    
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1725455523 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    
}

.custom-shape-divider-bottom-1725455523 .shape-fill {
    fill: #FFFFFF;

}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1725455523 svg {
        width: calc(146% + 1.3px);
        height: 140px;
        
    }
}






.custom-shape-divider-top-1725457474 {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
   
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1725457474 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1725457474 .shape-fill {
    fill: #000;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1725457474 svg {
        width: calc(221% + 1.3px);
        height: 154px;
    }
}